extends layout

block content
    .question
        h1 What's all this then?
        p It’s all about Pointless Whimsy
        p Once a week we pick a random theme, three things the story has to contain, and limit ourselves to 500 words.
    h1 What's with the name?
    p Pointless whimsy, innit. Or an excuse for appealing puns, for shredding conventions, for laying on the sweetness thick and fruity, for as long as you can Paddington Bear it.
    h1 500 words to read while you're:
    ul
        li boiling the kettle
        li having a poo
        li twiddling your moustache
        li walking to work
        li between pool shots
        li defying the patriachy
    h1 Who are we?
    ul
        li 
            a(href="/authors/james.htm") James
        li 
            a(href="/authors/jenny.htm") Jenny