extends layout
include mixins/_storyCard
include mixins/_themeTeaser

block content
    h1 Latest
    +themeTeaser(rules[rules.length-1])
    h1 Greatest
    p Let us know!
    h1 Everything

    //-pre= helpers.dump(rules)
    each rule in rules
       +themeTeaser(rule)
                        