extends layout
include mixins/_storyCard
include mixins/_themeTeaser

block content
    p 1 theme, 3 things, and 500 words. 
        a(href=`${siteRoot}/about.htm`) Find out more 
    h1 Latest
    +themeTeaser(rules[rules.length-1])
    h1 Greatest
    p Let us know!
    h1 Everything

    //-pre= helpers.dump(rules)
    each rule in rules
       +themeTeaser(rule)
                        