html
    head
        if title
            title= `${title} | ${helpers.siteName}`
        else
            title= `${helpers.siteName}`
        link(rel='stylesheet', href='/current.css')
        link(rel='stylesheet', href='/local.css')
        //-link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        //-pre= helpers.dump(helpers)
        header.site-header
            .wrapper
                a(href="/index.htm") Story Marmalade

        main.page-content
            .wrapper
                block content

        block footer
            footer.site-footer
                .wrapper
                    .footer-col-wrapper
                        .footer-col.footer-col-1
                            p (c) Story Marmalade
                        .footer-col.footer-col-2
                            p Got a minute? We have five hundred words
                        .footer-col.footer-col-3
                            a(href="/about.htm") About
