extends layout
include mixins/_storyCard
block content
    h4.when #{helpers.friendlyDateLong(rule.publishDate || rule.date)}    
    each story in rule.stories        
        +storyCard(story,rule)
        pre 

    .theme
        h2.theme About this week 
        p Theme: #{rule.theme}
        p Must include: #{rule.words}